.front-page .first-screen {
	position: relative;
	padding-top: 60px;
	background: url(../img/front-page-first-screen-bg.png) center center no-repeat;
	background-size: cover;
	height: 730px;
}
.front-page .first-screen .logo {
	position: relative;
	padding: 37px 0 0 126px;
	font-size: 35px;
	line-height: 42px;
	color: #667884;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 0.5px;
	margin: 0 0 59px;
}
.front-page .first-screen .logo:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 116px;
	height: 189px;
	background: url(../svg/logo.svg) left top no-repeat;
}
.front-page .first-screen .logo .text {
	font-size: 74px;
	color: #00B6AD;
	line-height: 75px;
	text-transform: uppercase;    
	letter-spacing: 0px;
}
.front-page .first-screen .first-text {
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
	color: $a-color;
	margin-bottom: 47px;
}
.front-page .first-screen .phones {
	font-size: 30px;
    line-height: 57px;
	margin-bottom: 12px;
}
.front-page .first-screen .address {
	font-size: 24px;
    line-height: 50px;
	letter-spacing: -0.3px
}
.front-page .first-screen .right-part {
	position: absolute;
	top: 0;
	right: 0;
	width: 475px;
	height: 100%;
	background: url(../img/front-page-first-screen-right-img.png) right bottom no-repeat;
}
.front-page .services {
	position: relative;
	padding-top: 4px;
	margin-bottom: 46px;
}

.front-page .services:before {
	content: '';
    position: absolute;
    bottom: -56px;
    right: 0;
    width: 100%;
    height: 60px;
    background: url(../img/services-bottom.png) right top no-repeat;
    z-index: 5;
	
}

.front-page .services .list .item .inner {
	display: block;
	position: relative;
	height: 274px;
	border: 4px solid #fff;
	background: -moz-linear-gradient(117.85deg, #5CBCBB 0.56%, #99D8DD 24.34%, #B6E7EB 49.42%, #99D8E3 73.8%, #67C2D4 99.17%);
	background: -webkit-linear-gradient(117.85deg, #5CBCBB 0.56%, #99D8DD 24.34%, #B6E7EB 49.42%, #99D8E3 73.8%, #67C2D4 99.17%);
	background: linear-gradient(117.85deg, #5CBCBB 0.56%, #99D8DD 24.34%, #B6E7EB 49.42%, #99D8E3 73.8%, #67C2D4 99.17%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5CBCBB', endColorstr='#67C2D4',GradientType=0 );
	margin: -4px 0 0 -4px;
	z-index: 1;
	@include animation-transition (0.5s, all);
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.front-page .services .list .item .inner .text {
	position: absolute;
	bottom: 25px;
	right: 25px;
	width: 240px;
    text-align: right;
}
.front-page .services .list .item .inner img {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 100%;
}
.front-page .services .list .item:first-child .inner {
	border-left: none;
	margin-left: 0;
}
.front-page .services .list .item:nth-of-type(3n) .inner {
	border-right: none;
}
.front-page .services .list .item:nth-of-type(3n+1) .inner {
	border-left: none;
	margin-left: 0;
}
.front-page .services .list .item .inner:hover {
	z-index: 5;
	border-color: $a-color;	
	background: -moz-linear-gradient(119.01deg, #FBF9FA 20.99%, #F69EB8 62.43%, #EF346C 100%);
	background: -webkit-linear-gradient(119.01deg, #FBF9FA 20.99%, #F69EB8 62.43%, #EF346C 100%);
	background: linear-gradient(119.01deg, #FBF9FA 20.99%, #F69EB8 62.43%, #EF346C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF9FA', endColorstr='#EF346C',GradientType=0 );
}
.front-page .services .list .item:last-child .inner {
	background: #8FBBBE;
	z-index: 4;
}
.front-page .advantages {
    margin-bottom: 17px;
}
.front-page .advantages .border-text {
	border: 2px solid #00B6AD;
	border-left: none;
	border-right: none;
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
	padding: 28px 0;
	margin-bottom: 26px;
}
.front-page .advantages .border-text p {
	margin: 0;
}
.front-page .advantages .text {
	margin-bottom: 71px;
}
/*
.front-page .advantages .text:last-child {
	margin-bottom: 24px;
}*/

.front-page .products {
	margin-bottom: 85px;
}
.front-page .products .main-title {
    margin-bottom: 88px;
}
.front-page .products ul li:last-child .product-item {
	border-right: 1px solid #E5E5E5;
}
.front-page .products ul .product-item {
	border-right: none;
}

.front-page .brands {
	background: #ECF1ED;
	padding: 80px 0;
}
.front-page .brands li {
	text-align: center;
}
.front-page .brands .wrap-jcarousel {
	position: relative;
}
.front-page .brands .wrap-jcarousel .jcarousel-scroll-pagination {
	position: relative;
	background: #AABFB8;
	height: 4px;
}
.front-page .brands .wrap-jcarousel .jcarousel-scroll-pagination .jcarousel-slider {
	position: absolute;
	background: #00B6AD;
	height: 100%;
	left: 0;
	top: 0;
	@include animation-transition (0.5s, left);
}
.front-page .brands .wrap-jcarousel .jcarousel-prev {
	position: absolute;
	top: 50%;
	left: -68px;
	@include left-arrow (2px, 23px, 23px, #C4C4C4);
	margin: -11px 0 0 -11px;
}
.front-page .brands .wrap-jcarousel .jcarousel-prev:hover {
	border-color: #00B6AD;
}
.front-page .brands .wrap-jcarousel .jcarousel-next {
	position: absolute;
	top: 50%;
	right: -68px;
	@include right-arrow (2px, 23px, 23px, #C4C4C4);
	margin: 0 -11px -11px 0;
}
.front-page .brands .wrap-jcarousel .jcarousel-next:hover {
	border-color: #00B6AD;
}
.front-page .brands .wrap-jcarousel .jcarousel-prev.inactive {
	display: none;
}
.front-page .brands .wrap-jcarousel .jcarousel-next.inactive {
	display: none;
}

.front-page .last-posts .img {
	display: block;
	height: 350px;
	background-size: cover;
}
.front-page .last-posts .terms { 
	position: relative;
	padding: 48px 0 0;
	text-align: center;
	height: 79px;
}
.front-page .last-posts .type-2 .terms { 
	padding: 0 0 48px;
	
}
.front-page .last-posts .type-2 .terms:before {
	border-right: 1px solid #65BEE6;
}
.front-page .last-posts .type-2 .terms a {
	border: 1px solid #65BEE6;
	color: #65BEE6;
}

.front-page .last-posts .type-3 .terms:before {
	border-right: 1px solid #EF346C;
}
.front-page .last-posts .type-3 .terms a {
	border: 1px solid #EF346C;
	color: #EF346C;
}
.front-page .last-posts .terms:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	border-right: 1px solid #00B6AD;
	margin-left: -1px;
} 
.front-page .last-posts .terms a {
	display: inline-block;
	position: relative;
	border: 1px solid #00B6AD;
	background: #fff;
	color: #00B6AD;
	padding: 0 28px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 28px;
	text-transform: uppercase;
}
.front-page .last-posts .inner {
	padding: 19px 50px 0;
	text-align: center; 
	height: 270px;
}
.front-page .last-posts .inner .text {
	overflow: hidden;
	height: 120px;
}
.front-page .last-posts .inner .title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	color: $main-color;
	font-size: 28px;
	line-height: 48px;
	margin: 0 0 23px;
}
.front-page .last-posts .type-2 .inner {
	padding-top: 28px;
}
