body {
	padding-top: 70px;
}
#collapse-menu {
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    padding-top: 48px;
}
#collapse-menu .menu {
	background: #667884;
}
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background: #667884;
}
header.is-full-height {
	overflow: scroll;
	height: 100%;
}
header .menu {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
header .top-block {
	position: relative;
	background: #667884;
}
header .menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
header .menu ul li {
	display: inline-block;
	margin: 0 70px 0 0;
	padding: 0;
}
header .menu ul li a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 21px 10px 19px;
	@include animation-transition (0.2s, all);
}
header .menu ul li:hover > a {
	background: #00B6AD;
}
header .menu ul li.current-menu-item > a {
	background: #00B6AD;	
}
header .menu ul li:hover ul {
	display: block;
}
header .menu ul li.menu-item-has-children > a:after {
	content: "\f107";
	font-family: FontAwesome;
	color: #fff;
	margin-left: 10px;
}
header .menu ul li.menu-item-has-children:hover > a:after {
	content: "\f106";	
}
header .menu ul li ul {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	background: #00B6AD;
	text-align: center;
	padding: 10px 0 10px;
}
header .menu ul li ul li {
	margin: 0 4px;
    font-size: 20px;
    letter-spacing: 0.2px;
}
header .menu ul li ul li a {    
	padding: 5px 5px;
}
header .menu ul li ul li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.25);
}
header .social {
	position: absolute;
	right: 30px;	
	top: 20px;
}

header .social a {
    display: inline-block;
    margin: 0 0 0 19px;
	color: #fff;
}
@mixin switch-mobile-menu ($color, $bg, $border) {
	.switch-mobile-menu {
		display: block;
		width: 40px;
		height: 40px;
		border: 1px solid $bg;
		text-align: center;
		padding: 8px 0 0;
		@include border-radius(50%);
	}
	.switch-mobile-menu {
		@include menu-icon ($color);
		@include close-menu-icon ();
		border-color: $color;
		background: transparent;
	}
	.switch-mobile-menu.collapsed {
		@include open-menu-icon ();
		border-color: $border;
		background: $bg;
	}	
}
header {
	@include switch-mobile-menu(#fff, #00B6AD, #00B6AD);
}
.total-first-screen {
	@include switch-mobile-menu(#00B6AD, transparent, #00B6AD);
}

.wrap-form {
	background: #ECF1ED;
	padding: 55px 0 70px;
}
.wrap-form .main-title {
	color: $main-color;
	margin: 0 0 17px;
}
.wrap-form .text {
	text-align: center;
	margin-bottom: 42px;
}
footer {
	padding: 64px 0 0;
	height: 530px;
	color: #fff;
	background: #667884;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #fff;
}
footer .main-title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	font-weight: 700;
    line-height: 65px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
    margin-bottom: 8px;
}
footer .menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
footer .menu ul li {
	display: block;
	margin-bottom: 10px;
}
footer .center-part {
	padding-left: 35px;
}
footer .left-part {
	padding-left: 35px;
}
footer .left-part .logo {
	font-family: 'PT Sans Narrow', sans-serif;
	height: 99px;
	background: url(../svg/logo-white.svg) left top no-repeat;
	padding: 20px 0 0 74px;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.3px;
	margin: 0 -8px 44px 0;
}
footer .left-part .logo .title {
	font-size: 38px;
	line-height: 38px;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 0;
}
footer .left-part .text {
	margin-bottom: 40px;
}
footer .social {
	margin: 0 -8px;
}
footer .social a {
	display: inline-block;
    margin: 0 8px;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
	@include border-radius (50%);
}
footer .social a:first-child {
	margin-left: 0;
}
footer .social a:last-child {
	margin-right: 0;
}
footer .social a:hover {
	background: #fff;
	color: $main-color;
}
footer p {
	margin: 0 0 30px;
}
footer .copyrigh-part {
	text-align: center;
	font-size: 16px;
	padding-top: 52px;
}


.navigation-menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 24px;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	
}
.navigation-menu ul li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
.navigation-menu ul li .active-bg.to-the-left {
	position: absolute;
	left: 0;
	width: 100%;
	top: 1px;
}
.navigation-menu > ul > li.active > .active-bg.to-the-left {
	border-left: 4px solid $a-color;

	background: linear-gradient(90deg, rgba(239, 52, 108, 0.25) 0%, rgba(239, 52, 108, 0) 100%);

	background: rgba(239, 52, 108, 0.25);
	background: -moz-linear-gradient(90deg, rgba(239, 52, 108, 0.25) 0%, rgba(239, 52, 108, 0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(239, 52, 108, 0.25) 0%, rgba(239, 52, 108, 0) 100%);
	background: linear-gradient(90deg, rgba(239, 52, 108, 0.25) 0%, rgba(239, 52, 108, 0) 100%);

	
}
.navigation-menu.type-2 > ul > li.active > .active-bg.to-the-left {
	border-left: 4px solid #00B6AD;


	background: linear-gradient(90deg, rgba(0, 182, 173, 0.25) 0%, rgba(0, 182, 173, 0) 97.79%);

	background: rgba(0, 128, 173, 0.25);
	background: -moz-linear-gradient(90deg, rgba(0, 182, 173, 0.25) 0%, rgba(0, 182, 173, 0) 97.79%);
	background: -webkit-linear-gradient(90deg, rgba(0, 182, 173, 0.25) 0%, rgba(0, 182, 173, 0) 97.79%);
	background: linear-gradient(90deg, rgba(0, 182, 173, 0.25) 0%, rgba(0, 182, 173, 0) 97.79%);

	
}

.navigation-menu ul li .childs-bg.to-the-left {
	position: absolute;
	left: 0;
	width: 100%;	
}
.navigation-menu > ul > li.active > .childs-bg.to-the-left {

	background: rgba(239, 52, 108, 0.1);
	
	background: linear-gradient(90deg, rgba(239, 52, 108, 0.1) 0%, rgba(239, 52, 108, 0) 100%);
	background: -moz-linear-gradient(90deg, rgba(239, 52, 108, 0.1) 0%, rgba(239, 52, 108, 0) 100%);
	background: -webkit-linear-gradient(90deg, rgba(239, 52, 108, 0.1) 0%, rgba(239, 52, 108, 0) 100%);
	background: linear-gradient(90deg, rgba(239, 52, 108, 0.1) 0%, rgba(239, 52, 108, 0) 100%);

	
}
.navigation-menu ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	color: $main-color;
	padding: 31px 0 27px;
	border-top: 1px solid #ECF1ED;
}
.navigation-menu ul li.active a {
	color: $a-color;
	border-color: transparent;
}
.navigation-menu.type-2 ul li.active a {
	color: #00B6AD;
	font-weight: 700;
}
.navigation-menu ul li ul {
	text-transform: none;
	padding: 38px 0;
}
.navigation-menu ul li ul li a {
	padding: 10px 0;
    border: none;
}
.navigation-menu ul li.active li a {
	color: $main-color;
	font-weight: 400;
	text-decoration: underline;	
	text-decoration: none;
}
.navigation-menu ul li.active li a:hover {
	text-decoration: none;	
	color: $a-color;
}
.navigation-menu.type-2 ul li.active li a:hover {
	color: #00B6AD;
}
.navigation-menu ul li ul li.active a {
	font-weight: 700;
	color: $a-color;
	text-decoration: none;	
}


.total-first-screen {
	position: relative;
	padding: 10px 0 7px;
	background: url(../img/front-page-first-screen-bg.png) left top no-repeat;
	background-size: 100% auto;
	margin: 0 0 65px;
}
.total-first-screen .phones {
	color: $a-color;
	font-weight: 700;
}
.total-first-screen .logo {
	display: inline-block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: $main-color;
	text-decoration: none;
	height: 70px;
	padding: 14px 0 0 47px;
	background: url(../svg/logo-2.svg) left top no-repeat;
	letter-spacing: 0.3px;
}
.total-first-screen .logo .title {
	font-size: 28px;
	line-height: 28px;
	color: #00B6AD;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.search-form {
	position: relative;
	margin: 0 0 28px -30px;
}

.search-form .form-control {
	border-color: #AABFB8;
}


.search-form .searchsubmit {
	display: block;
    position: absolute;
	top: 50%;
	right: 22px;
	background: url(../svg/search-icon.svg) center center no-repeat;
	width: 26px;
	height: 26px;
	margin: -12px 0 0 0;
	border: none;
}

.product-item {
	display: block;
	position: relative;
	text-decoration: none;
	border: 1px solid #E5E5E5;
	text-align: center;
	padding: 40px 0 0;
	height: 702px;
	color: $main-color;
	margin-bottom: 28px;
}
.product-item .type {
	position: absolute;
	font-family: 'PT Sans Narrow', sans-serif;
	left: 14px;
	top: 14px;
	color: #fff;
	font-weight: 700;
	padding: 0 8px;
	text-transform: uppercase;
	font-size: 20px;
}
.product-item .type.type-discount {
	background: #00B6AD;
}
.product-item .type.type-new {
	background: $a-color;
}
.product-item .img {
	margin-bottom: 29px;
	height: 200px;
	padding: 0 40px;
}
.product-item .img img {
	max-width: 100%;
	max-height: 100%;
}
.product-item .inner {
	height: 252px;
}
.product-item .inner .text {
	font-size: 16px;
	line-height: 24px;
	padding: 0 15px;
}
.product-item .price {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	height: 28px;
}
.product-item .price span {
    display: inline-block;
    margin-left: 26px;
	color: #C4C4C4;
    text-decoration: line-through;
}
.product-item .dose {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 36px;
}
.product-item .wrap-btn {
	padding: 0 50px;
}
.product-item .wrap-btn .btn {
  font-family: 'PT Sans Narrow', sans-serif;	
}
.product-item:hover {
	color: $main-color;
}
.product-item:hover .btn {
  color: #fff;
  background-color: #00B6AD;
}

.query-pagination .page-numbers {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 48px;
	color: $main-color;
	border: 2px solid $main-color;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	@include border-radius (50%);
	margin: 0 5px;
}
.query-pagination .page-numbers.current {
	color: $a-color;
	border-color: $a-color;
}
.query-pagination .page-numbers.dots {
	border-color: transparent;
	margin: 0 0;
}
.shop a {
	color: #00B6AD;
}
.shop .query-pagination a {
	color: $main-color;
}
.shop .product-item {
	color: $main-color;	
}
.shop h1 {
	color: #00B6AD;		
}

.shop .btn-persian-green {
	color: #fff;
}
.content-page {
	padding: 0 0 120px;
}
.content-page ul {
	display: block;
	margin: 0 0 41px;
	padding: 0;
}
.content-page ul li {
	display: block;
	position: relative;
    margin: 0 0 20px -44px;
    padding: 0 0 0 44px;
}
.content-page ul li:before {
	content: "\f00c";
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	top: 3px;
	font-size: 16px;
	color: $a-color;
}
.content-page .size-full {
	width: 100% !important;
	height: auto !important;
	margin: 32px 0 28px;
}

.wrap-input-text {
	position: relative;
}
.wrap-input-text .placeholder {
	position: absolute;
	left: 0;
    top: 20px;
	color: #708D90;
	text-align: center;
	width: 100%;
	@include animation-transition (0.15s, all);
}
.wrap-input-text.is-focus .placeholder {
    top: 0;
	padding-left: 12px;
	text-align: left;
	font-size: 14px;
}
.wrap-input-text .placeholder span {
	color: $a-color;
}

span.wpcf7-not-valid-tip {
	display: none !important;
}
div.wpcf7-response-output {
	border: none;
	margin: 0;
	padding: 20px 0 0;
}

div.wpcf7 .ajax-loader {
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -8px;
}

#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	left: 0;
	top: 0;
	z-index: 100;
}
.form-control.wpcf7-not-valid {
	border-color: $a-color;
}
