body {
	padding-top: 70px;
}
header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	background: #667884;
}
header .menu {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
header .menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
header .menu ul li {
	display: inline-block;
	margin: 0 80px 0 0;
	padding: 0;
}
header .menu ul li a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 21px 0 19px;
}
header .social {
	position: absolute;
	right: 30px;	
	top: 20px;
}

header .social a {
    display: inline-block;
    margin: 0 0 0 19px;
	color: #fff;
}

.wrap-form {
	background: #ECF1ED;
	padding: 55px 0 70px;
}
.wrap-form .main-title {
	color: $main-color;
	margin-bottom: 17px;
}
.wrap-form .text {
	text-align: center;
	margin-bottom: 42px;
}
footer {
	padding: 64px 0 0;
	height: 530px;
	color: #fff;
	background: #667884;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #fff;
}
footer .main-title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	font-weight: 700;
    line-height: 65px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
    margin-bottom: 8px;
}
footer .menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
footer .menu ul li {
	display: block;
	margin-bottom: 10px;
}
footer .center-part {
	padding-left: 35px;
}
footer .left-part {
	padding-left: 35px;
}
footer .left-part .logo {
	font-family: 'PT Sans Narrow', sans-serif;
	height: 99px;
	background: url(../svg/logo-white.svg) left top no-repeat;
	padding: 20px 0 0 74px;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.3px;
	margin: 0 -8px 44px 0;
}
footer .left-part .logo .title {
	font-size: 38px;
	line-height: 38px;
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: 0;
}
footer .left-part .text {
	margin-bottom: 40px;
}
footer .left-part .social {
	margin: 0 -8px;
}
footer .left-part .social a {
	display: inline-block;
	margin: 0 8px;
	width: 60px;
	height: 60px;
	border: 2px solid #fff;	
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	@include border-radius (50%);
}
footer .left-part .social a:hover {
	background: #fff;
	color: $main-color;
}
footer p {
	margin: 0 0 30px;
}
footer .copyrigh-part {
	text-align: center;
	font-size: 16px;
	padding-top: 52px;
}


.navigation-menu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 24px;
	line-height: 42px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	
}
.navigation-menu ul li {
	display: block;
	margin: 0;
	padding: 0;
}
.navigation-menu ul li a {
	display: block;
	text-decoration: none;
	color: $main-color;
	padding: 31px 0 27px;
	border-top: 1px solid #ECF1ED;
}
.navigation-menu ul li.active a {
	color: $a-color;
}
.navigation-menu.type-2 ul li.active a {
	color: #00B6AD;
	font-weight: 700;
}
.navigation-menu ul li ul {
	text-transform: none;
	padding: 38px 0;
}
.navigation-menu ul li ul li a {
	padding: 10px 0;
    border: none;
}
.navigation-menu ul li.active li a {
	color: $main-color;
	font-weight: 400;
	
}
.navigation-menu ul li ul li.active a {
	font-weight: 700;
	color: $a-color;
}


.total-first-screen {
	position: relative;
	padding: 10px 0 0;
	height: 95px;
	background: url(../img/front-page-first-screen-bg.png) left top no-repeat;
	background-size: 100% auto;
	margin: 0 0 65px;
}
.total-first-screen .phones {
	position: absolute;
    top: 16px;
	left: 0;
	width: 100%;
	color: $a-color;
	font-weight: 700;
	text-align: center;
}
.total-first-screen .logo {
	display: block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: $main-color;
	text-decoration: none;
	height: 70px;
	padding: 14px 0 0 47px;
	background: url(../svg/logo-2.svg) left top no-repeat;
	letter-spacing: 0.3px;
}
.total-first-screen .logo .title {
	font-size: 28px;
	line-height: 28px;
	color: #00B6AD;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.search-form {
	margin-bottom: 28px;
}

.search-form .form-control {
	border-color: #AABFB8;
}

.product-item {
	display: block;
	text-decoration: none;
	border: 1px solid #E5E5E5;
	text-align: center;
	padding: 40px 0 0;
	height: 702px;
	color: $main-color;
	margin-bottom: 28px;
}
.product-item .img {
	margin-bottom: 29px;
	height: 200px;
}
.product-item .inner {
	height: 252px;
}
.product-item .inner .text {
	font-size: 16px;
	line-height: 24px;
	padding: 0 15px;
}
.product-item .price {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	height: 28px;
}
.product-item .price span {
    display: inline-block;
    margin-left: 26px;
	color: #C4C4C4;
    text-decoration: line-through;
}
.product-item .dose {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 36px;
}
.product-item .wrap-btn {
	padding: 0 50px;
}
.product-item:hover {
	color: $main-color;
}
.product-item:hover .btn {
  color: #fff;
  background-color: #00B6AD;
}

.query-pagination .page-numbers {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 48px;
	color: $main-color;
	border: 2px solid $main-color;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	@include border-radius (50%);
	margin: 0 5px;
}
.query-pagination .page-numbers.current {
	color: $a-color;
	border-color: $a-color;
}
.query-pagination .page-numbers.dots {
	border-color: transparent;
	margin: 0 0;
}
