header .menu {
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}
header .menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
header .menu ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
header .menu ul li a {
	color: #fff;
	text-decoration: none;
}