@media (max-width: $media-xs-max-width) {
	body {
		padding-top: 48px;
	}
	header {
		padding: 4px 0;
	}
	header .social {
		position: relative;
		right: auto;
		top: auto;
		padding: 4px 0 0;
	}
	header .menu ul li {
		display: block;
		margin: 0;
	}
	header .menu ul li ul {
		position: relative;
		left: auto;
	}
	header .menu ul li:hover ul {
		display: none;
	}
	header .menu ul li.menu-item-has-children > a:hover:after {
	    content: "\f107";
	}
	
	header .menu ul li.menu-item-has-children.show-children > a:after {
	    content: "\f106";
	}
	.product-item {
		height: 561px;
	}
	.product-item .img {
		margin-bottom: 18px;
	}
	.product-item .inner {
		height: 118px;
	}
	.product-item .dose {
		margin-bottom: 26px;
	}
	
	.wrap-form {
		padding: 42px 0 21px;
	}
	.wrap-form .main-title {  
		font-size: 20px;
		line-height: 28px;
		margin: 0 0 12px;
	}
	.wrap-form .text {
		margin-bottom: 31px;
	}	
	footer {
		padding: 39px 0;
		height: auto;
	}
	footer .left-part {
		padding-left: 0;
	}
	footer .left-part .logo {
		padding: 26px 0 0 64px;
		margin: 0;
		letter-spacing: 0.2px;    
		margin: 0 0 40px;
	}
	footer .left-part .logo .title {
		font-size: 37px;
		font-weight: 400;
		margin-bottom: 0px;
		line-height: 34px;
	}
	footer p {
		margin: 0 0 24px;
	}
	footer .social a {
		margin: 0 6px;
	}
	footer .copyrigh-part {
		padding-top: 28px;
	}
}