.container {
	width: 1164px !important;
}
body {
	font-family: 'Roboto', sans-serif;
	//font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	color: $main-color;
	background: #fff;	
	//background: url(../img/template-main.png) center 0 no-repeat #fff;
	//height: 5000px;
}
a {
	color: $a-color;
	text-decoration: none;
	border-bottom: 1px solid #E1CDC8;
}
a:hover {
	text-decoration: none;
	color: $a-color;
	border-color: transparent;
}
a:focus {
    outline: 0;
    outline-offset: 0px;
}
a:hover, a:focus {
	color: $a-color;
	text-decoration: none;
}
p {
	margin: 0 0 20px;
}
b, strong {
    font-weight: 400;
}
sub, sup {
    font-size: 64%;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
	padding-top: 38px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}




