.aligncenter {
	text-align: center;
}
.wp-caption .wp-caption-text {
	font-style: italic;
}
.wp-caption {
	margin-bottom: 38px;
}
.wp-caption img {
	margin-bottom: 15px;
}

.alignleft {
	position: relative;
	float:left;
	margin: 0 30px 30px -100px !important;
}

.alignright {
	position: relative;
	float:right;
	margin: 0 -100px 30px 30px !important;
}



