.container {
	//width: 1200px !important;
}
body {
	font-family: 'PT Sans', sans-serif;
	//font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: $main-color;
	background: #fff;	
	//background: url(../img/template-single-blog.png) center -92px no-repeat #fff;
	//height: 7000px;
}
a {
	color: $a-color;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: $a-color;
}
a:focus {
    outline: 0;
    outline-offset: 0px;
}
a:hover, a:focus {
	color: $a-color;
	text-decoration: none;
}
p {
	margin: 0 0 20px;
}
b, strong {
    font-weight: 700;
}
sub, sup {
    font-size: 64%;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
   /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
	padding-top: 38px;*/
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}




